* {
    margin: 0;
    padding: 0;
}

.header {
    background: #FFFFFF;
    text-align: center;
    padding: 32px;
}

.menu {
    list-style: none;
}

.menu-item {
    display: inline-block;
    padding: 0 35px 0 35px;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color:#16A085;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 600;
}

.menu-link:hover {
    text-decoration: underline;   
}

.main-image {
    width: 100%;
    display: block;
}

h1 {
    text-align: center;
    color:#373737;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.main-content {
    padding: 59px 113px 94px 113px;
    background: #F5F6F7;
}

.title {
    margin-bottom: 34px;
}

.text1 {
    margin-bottom: 34px;
}

.text {
    color:#373737;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.7em;
    font-weight: 600;
}

p {
    text-align: center;
}

.btn {
    font-size:12px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background: #16A085;
    padding: 18px 45px;
    display: inline-block;
    text-decoration: none;
    line-height: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    margin-top: 64px;
}

.btn-wrapper {
    text-align: center;
}

.footer {
    background: #FFFFFF;
    color:#373737;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.7em;
    font-weight: 600;
    padding: 45px;
    text-align: right;
    margin-right: 104px;

}